{
	"target": "linux/amd64",
	"http": "127.0.0.1:56741",
	"workdir": "/path/to/src/github.com/google/syzkaller/workdir",
	"kernel_obj": "/path/to/linux-x.y.z",
	"image": "/path/to/jessie.img",
	"sshkey": "/path/to/jessie.id_rsa",
	"syzkaller": "/path/to/src/github.com/google/syzkaller",
	"syscall_dep_dir" : "/path/to/LKSAST/script/weight_ignsame",
	"procs": 8,
	"type": "qemu",
	"reproduce": false,
	"vm": {
		"count": 4,
		"kernel": "/path/to/linux-x.y.z/arch/x86/boot/bzImage",
		"cpu": 2,
		"mem": 4096
	}
}

